body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("register_bg.jpg");
  height: 120vh;
  width: 100vw;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body::before {
  content: '';
  background: url(drop.png) no-repeat right bottom;
  background-size: 40%;  
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100%;
  height: 100%;
  z-index: -10;  
}
#loader {
  font-family:Arial, Helvetica, sans-serif;
  transition: all 0.4s ease-in;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  z-index: 10000;
  position: fixed;
  overflow: hidden;
  background: #141414;
}

#loader{
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.container {
  width: 70%;
  background-color: #0000006e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.425);
  text-align: center;
}

.form-title {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #ffe017;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-form, .right-form {
  width: 45%;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  opacity: 0;
  transform: translateX(-50px);
  animation: slideIn 0.5s forwards;
}

.form-group:nth-child(1) {
  animation-delay: 0.2s;
}

.form-group:nth-child(2) {
  animation-delay: 0.5s;
}

.form-group:nth-child(3) {
  animation-delay: 0.8s;
}

.form-group:nth-child(4) {
  animation-delay: 1.1s;
}

.form-group:nth-child(5) {
  animation-delay: 1.3s;
}

.form-group:nth-child(6) {
  animation-delay: 1.6s;
}

.form-group:nth-child(7) {
  animation-delay: 1.9s;
}

@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(-50px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.form-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #f2f2f2;
}

.qr-code img {
  width: 300px;
  height: auto;
}

.form-group input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ffffff7d;
  border-radius: 5px;
  background-color: #ffffff7d;
  color: #f2f2f2;
  font-size: 0.9rem;
}

.pay-now {
  margin-top: 20px;
}

.pay-now button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: hsla(48, 67%, 52%, 0.816);
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  cursor: pointer;
  transition: background 0.3s ease;
}

.pay-now button:hover {
  background-color: #d2ac25;
}

@media screen and (max-width: 768px) {
  .form-wrapper {
      flex-direction: column;
      align-items: center;
  }

  .left-form, .right-form {
      width: 100%;
  }
}

.form-group input[type="button"] {
  background: linear-gradient(#d2ac25, #333);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: background 0.3s;
  text-transform: uppercase;
  width: 200px;
  margin: 0 auto;
  display: block;
}

.qr-code, .file-upload {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.file-upload {
  text-align: left;
}

.file-upload input[type="file"] {
  width: 80%;
  padding: 15px;
  border: 2px dashed #ffbf00;
  border-radius: 5px;
  background: rgba(51, 51, 51, 0.5);
  color: #fff;
  font-size: 1em;
  transition: background 0.3s, border-color 0.3s;
  cursor: pointer;
}

.file-upload input[type="file"]::file-selector-button {
  background: #ffbf00;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.file-upload input[type="file"]:hover {
  background: rgba(51, 51, 51, 0.7);
  border-color: #ffbf00;
}



.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-wrapper {
  display: flex;
  font-size: 100px; /* Increased font size */
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  margin-bottom: 40px; /* Space between texts */
  width: 600px; /* Larger container */
  justify-content: center;
}

.text {
  display: flex;
  color: transparent;
  -webkit-text-stroke: 3pX white; /* Text stroke */
}

.text span {
  display: inline-block;
  position: relative;
  opacity: 0;
}

.text .left {
  animation: slideFromLeft 2s forwards;
}

.text .right {
  animation: slideFromRight 2s forwards;
}

.text-bottom .up {
  animation: slideFromBottom 2s forwards;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}